@using TweedViewModel = Tweed.Web.Views.Shared.TweedViewModel
@model TweedViewModel

<div class="container mt-2 p-2 border tweed">
    <div>
        <a asp-controller="Profile" asp-action="Index" asp-route-userid="@Model.AuthorId">@Model.Author</a>
        <small class="text-muted">@Model.CreatedAt</small>
    </div>
    <div class="mt-1">
        @Model.Text
    </div>
    <div class="mt-1">
        <small class="text-muted">
            <i class="bi bi-heart-fill" style="font-size: 1em"></i> @Model.LikesCount
            <a asp-controller="Tweed" asp-action="GetById" asp-route-tweedId="@Model.Id">More</a>
        </small>
    </div>
    <form method="post">
        @if (Model.LikedByCurrentUser)
        {
            <button hx-post="@Url.Action(action: "Unlike", controller: "Tweed", values: new { tweedId = @Model.Id} )"
                    hx-target="closest .tweed"
                    hx-swap="outerHTML"
                    class="btn btn-light mt-2">
                <i class="bi bi-heart-fill" style="font-size: 1em"></i>
            </button>
        }
        else
        {
            <button hx-post="@Url.Action(action: "Like", controller: "Tweed", values: new { tweedId = @Model.Id} )"
                    hx-target="closest .tweed"
                    hx-swap="outerHTML"
                    class="btn btn-light mt-2">
                <i class="bi bi-heart" style="font-size: 1em"></i>
            </button>
        }
    </form>
</div>
