@model Tailors.Web.Features.Shared.TweedViewModel

@{
    var tweedUrl = Url.Action("ShowThreadForTweed", "Tweed", new { tweedId = Model.Id });
    var likeTweedUrl = Url.Action("Unlike", "Tweed", new { tweedId = Model.Id, isCurrent = Model.IsCurrentTweed });
    var unlikeTweedUrl = Url.Action("Like", "Tweed", new { tweedId = Model.Id, isCurrent = Model.IsCurrentTweed });
    var authorProfileUrl = Url.Action("Index", "Profile", new { userId = Model.AuthorId });
}

<div class="p-3 @(!Model.IsCurrentTweed ? "tweed--can-navigate-true" : "")"
     @(!Model.IsCurrentTweed ? $"hx-get={tweedUrl} hx-target=body hx-swap=outerHTML hx-push-url=true" : "")>

    <div class='flex gap-2'>
        <div class='rounded-full overflow-hidden'>
            <img src="images/face-thumb.jpg" width="50" height="50"/>
        </div>
        <div class='flex flex-col'>
            <div class='flex gap-1'>
                <p class='text-base text-black font-bold'>@Model.Author</p>
            </div>
            <a href="@authorProfileUrl" class='text-base text-slate-gray mt-1'>@Model.Author</a>
        </div>
    </div>

    <p class='text-base leading-6 my-2'>
        @Model.Text
    </p>

    <div class='flex gap-2'>
        <p class='text-sm text-slate-gray'>@Model.CreatedAt</p>
        <p class='text-sm text-slate-gray'>
            <span class='font-bold mr-1'>232.303</span>
            Mal angezeigt
        </p>
    </div>
</div>
