@model Tailors.Web.Features.Shared.TweedViewModel

@{
    var tweedUrl = Url.Action("ShowThreadForTweed", "Tweed", new { tweedId = Model.Id });
    var likeTweedUrl = Url.Action("Unlike", "Tweed", new { tweedId = Model.Id, isCurrent = Model.IsCurrentTweed });
    var unlikeTweedUrl = Url.Action("Like", "Tweed", new { tweedId = Model.Id, isCurrent = Model.IsCurrentTweed });
    var authorProfileUrl = Url.Action("Index", "Profile", new { userId = Model.AuthorId });
}

<div class="d-flex flex-column p-2 tweed @(!Model.IsCurrentTweed ? "tweed--can-navigate-true" : "")"
     @(!Model.IsCurrentTweed ? $"hx-get={tweedUrl} hx-target=body hx-swap=outerHTML hx-push-url=true" : "")>
    <div>
        <a class="link-secondary fw-bold" href="@authorProfileUrl">@Model.Author</a>
        <small class="text-muted">@Model.CreatedAt</small>
    </div>
    <div class="mt-1 mb-1">
        @Model.Text
    </div>
    <div>
        <span hx-post="@(Model.LikedByCurrentUser ? likeTweedUrl : unlikeTweedUrl)"
              hx-target="closest .tweed"
              hx-swap="outerHTML"
              hx-sync="closest div.tweed:drop"
              hx-push-url="false"
              class="mt-2">
            <i class="bi @(Model.LikedByCurrentUser ? "bi-heart-fill" : "bi-heart")" style="font-size: 1em"></i>
        </span>
        <span> @Model.LikesCount</span>
    </div>
</div>
