@using TweedViewModel = Tweed.Web.Views.Shared.TweedViewModel
@model TweedViewModel

<div class="card mt-2 tweed">
    <div class="card-header">
        <a asp-controller="Profile" asp-route-userid="@Model.AuthorId">@Model.Author</a>
    </div>
    <div class="card-body">
        <div class="card-text">
            @Model.Text
        </div>
    </div>
    <div class="card-footer small">
        <small class="text-muted">@Model.CreatedAt</small>
        <small class="text-muted">Likes: @Model.LikesCount</small>
        <form method="post" up-submit up-target=".tweed">
            @if (Model.LikedByCurrentUser)
            {
                <button asp-controller="Tweed" asp-action="Unlike" asp-route-tweedid="@Model.Id">
                    <i class="bi bi-balloon-heart-fill" style="font-size: 1.5em"></i>
                </button>
            }
            else
            {
                <button asp-controller="Tweed" asp-action="Like" asp-route-tweedid="@Model.Id">
                    <i class="bi bi-balloon-heart" style="font-size: 1.5em"></i>
                </button>
            }
        </form>
    </div>
</div>
